<div class="row card-panel ">
    <h4>Ajouter une Annonce</h4>
    <hr>
    <br><br>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s8">
                <i class="material-icons prefix">title</i>
                <input id="news_titre" type="text" class="validate">
                <label for="news_titre">Titre</label>
            </div>

            <div class="input-field col s4">
                <i class="material-icons prefix">date_range</i>
                <input id="news_date" type="text" class="datepicker">
                <label for="news_date">Date</label>
            </div>
        </div>

        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="news_description" class="materialize-textarea" data-length="500"></textarea>
            <label for="news_description">Description</label>
        </div>

        <div class="file-field input-field  col s12">
            <a class="waves-effect waves-light btn teal darken-4">
                <i class="material-icons left">panorama</i>Importer
                <input type="file" multiple></a>
            <div class="file-path-wrapper">
                <input placeholder="Image" id="news_image" class="file-path validate" type="text">
            </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
        <i class="material-icons left ">add_circle</i>
    </button>
</div>