<div class="row card-panel ">
  <h4>Ajouter une Vidéo</h4>
  <hr>
  <br><br>
  <form class="col s12" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">title</i>
        <input formControlName="titre" id="video_titre" type="text" class="validate">
        <label for="video_titre">Titre</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input formControlName="date" id="video_date" type="text" class="datepicker">
        <label for="video_date">Date</label>
      </div>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">mode_edit</i>
      <textarea formControlName=description id="video_description" class="materialize-textarea" data-length="500"></textarea>
      <label for="video_description">Description</label>
    </div>

    <div class="file-field input-field  col s12">
      <a class="waves-effect waves-light btn teal darken-4">
        <i class="material-icons left">video_library</i>Importer
        <input formControlName="url" type="file"></a>
      <div class="file-path-wrapper">
        <input placeholder="Upload a Video" id="video_image" class="file-path validate" type="text">
      </div>
    </div>
  </form>
  <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
    <i class="material-icons left ">add_circle</i>
  </button>
</div>