<app-resnav></app-resnav>
<div class="panel">
    <h4>Ressource</h4>
  </div>
  <hr>
  <div class="chip  light-blue lighten-4 black-text" *ngFor="let categorie of categories$ | async" [class.lighten-1]="categorie === selectedCat" (click)="onSelectCat(categorie)">
      {{categorie.name}}
  </div >
  <div class="chip  light-blue lighten-4 black-text" [class.lighten-1]="All === 'All'" (click)="selectAllCat()">
      All
  </div>
<nav class="teal lighten-5 searchbar">
    <div class="nav-wrapper">
        <div class="input-field">
          <input id="search" type="search" [(ngModel)]="searchString" (ngModelChange)="inputChanged()" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
    </div>
  </nav>

  <!--<ul class="collection">
    <li class="collection-item avatar" *ngFor="let ressource of ressources$ | async">
        <i class="material-icons circle teal ">settings_input_svideo</i>
        <a routerLink="/ressource/{{ressource.id}}" class="title"><b>{{ressource.name}}</b></a>
        <p><strong>Type : {{ressource.type.name}} </strong></p>
        <p><strong>Classe : {{ressource.classe.name}} </strong></p>
        <br>
      </li>
  </ul>-->
  <div class="row" height="100px">
    <div class="col s4" *ngFor="let ressource of ressources$ | async;let i = index;">
        <div class="card small" >
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" [src]="getRessourceImage(ressource.id).url">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ressource.name}}<i class="material-icons right">more_vert</i></span>
              <p><a routerLink="/ressource/{{ressource.id}}">Detail</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ressource.name}}<i class="material-icons right">close</i></span>
              <p>{{ressource.description}}</p>
            </div>
          </div>
    </div>
  </div>

  <div class="fixed-action-btn">
      <a routerLink="/addressource" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
        <i class="material-icons left">add</i></a>
  </div>

  