
<div class="panel">
  <h4>Videos</h4>
</div>
<hr>

<nav class="teal lighten-5 searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>


<div class="collection">
  <li>
    <h5>ANGULAR 5 INTRODUCTION</h5>
    <video class="responsive-video" controls width="912" height="480" frameborder="0"
              allowfullscreen>
      <source src="../assets/videos/angular1.mp4" type="video/mp4">
    </video>
    <h6>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js
    or another push-model.</h6>
    <a  class="secondary-content">
      <span><strong> 20 nov. 2019</strong></span></a>    
  </li>
  <li>
    <h5>QU'EST CE QUE ANGULAR ?</h5>
    <video class="responsive-video" controls width="912" height="480" frameborder="0" allowfullscreen>
      <source src="../assets/videos/angular2.mp4" type="video/mp4">
    </video>
    <h6>Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment
    target. For web, mobile web, native mobile and native desktop.
    </h6>
    <a class="secondary-content">
      <span><strong> 7 aout. 2019</strong></span></a>
  </li>
</div>

    <div class="fixed-action-btn">
      <a href="/addvideo" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
        <i class="material-icons left">publish</i></a>
    </div>
