<div style="margin: 20px">
    <h5>LIST DES INSTITUTIONS et ressources génétiques</h5>
    <br>
    <hr>
    <br>
    <div>
        <!-- Customizable input  

        <input class="custom-class">-->
        <!--
        <table>
            <thead>
                <tr>
                    <th class="" title="ID" data-field="output_id" style="text-align: left;">ID
                        <div></div>
                    </th>
                    <th class="" title="Output Title" data-field="title" style="text-align: left;">Institution
                        <div></div>
                    </th>
                    <th class="" title="Output Description" data-field="description" style="text-align: left;">Déscription
                        <div></div>
                    </th>
                    <th class="" title="SDG" data-field="sdg" style="text-align: left;">Logo
                        <div></div>
                    </th>
                    <th class="" title="Our Approaches" data-field="markers" style="text-align: left;">Email
                        <div></div>
                    </th>
                    <th class="" title="Results" data-field="has_result" style="text-align: left;">Téléphone
                        <div></div>
                    </th>
                </tr>
            </thead>
        </table>
        <table>

        </table>
    -->
        <div class="row">
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
            <div class="col s6 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="assets/images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>