
<div class="panel">
  <h4>Evenements</h4>
</div>
<hr>

<nav class="teal lighten-5 searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
  
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">event_available</i>CoverEx North Africa</div>
      <div class="collapsible-body"><p>
        <strong> date de debut : 20 nov. 2019<br>date de fin : 22 nov. 2019</strong><br><br>
        CoverEx North Africa est le premier évènement commercial et promotionnel dans le domaine du revêtement et décors
        d’Afrique du Nord. Il sera axé sur les nouvelles technologies pour les sols, murs et plafonds. Il se tiendra du 20 au 22
        Novembre 2019 au Palais des Expositions, SAFEX, Algérie.
        
        
        Avant cette édition 2019, il se tenait sous le nom de SIPRAC. CoverEX en sera la 3ème édition, avec une nouvelle vision
        et une nouvelle dénomination. Il accueillera des milliers d’opérateurs nationaux et internationaux qui vont pouvoir,
        pendant 3 jours, se rencontrer, se mettre en relation et échanger leurs connaissances et informations pour enfin
        conclure des transactions.
      </p>
      <a href="#!" class="waves-effect">
        <span>edit</span></a>
      <a href="#!" class="secondary-content">
        <span><i class="material-icons">delete</i></span></a></div>
    </li>

  <li>
    <div class="collapsible-header active"><i class="material-icons">event_available</i>Salon International de la Gestion des Déchets</div>
    <div class="collapsible-body">
      <p><strong>date de debut : 7 oct. 2019 <br>date de fin : 10 oct. 2019</strong><br><br>
          Le Salon « REVADE » qui devient l’événement incontournable de la récupération et de la valorisation des déchets en
        Algérie revient de nouveau dans sa 4ème édition sous le thème « l'entrepreneuriat circulaire, un model économique
        d'avenir».
        
        Pendant quatre jours, REVADE débattra des voies de promotion de l’entrepreneuriat circulaire dans le domaine du
        recyclage, de la valorisation et la transformation des déchets. Le Salon REVADE a pour objectifs de :
        
        Faire connaitre les équipements et les technologies utilisées dans le domaine de la transformation et du recyclage des
        déchets
        Promouvoir l’industrie de la récupération et le recyclage des déchets et encourager l’investissement et la création de
        nouvelles entreprises
        Promouvoir et développer la gestion et la valorisation des déchets

      </p>
      <a href="#!" class="waves-effect">
        <span>edit</span></a>
      <a href="#!" class="secondary-content">
        <span><i class="material-icons">delete</i></span></a>
    </div>
  <li>
    <div class="collapsible-header active"><i class="material-icons">event_available</i>The Languages Fair</div>
    <div class="collapsible-body">
      <p><strong>date de debut : 2 nov. 2019<br>date de fin : 3 nov. 2019</strong><br><br>
         Nous avons le plaisir de vous informer de la tenue de la deuxième édition du plus grand événement linguistique en
        Algérie est de retour les 02 & 03 novembre 2019 au palais de la culture Moufdi Zakaria d'Alger.
        
        Il est communément admis de nos jours que la maîtrise d’une ou de plusieurs langues étrangères constitue un atout de
        taille, surtout dans un contexte de mondialisation et d’internationalisation des entreprises. Par ailleurs, de plus en
        plus de personnes voyagent de par le monde (à des fins touristiques, professionnelles, estudiantines…)
      </p>
      <a href="#!" class="waves-effect">
        <span>edit</span></a>
      <a href="#!" class="secondary-content">
        <span><i class="material-icons">delete</i></span></a>
    </div>
  </li>
      <div class="fixed-action-btn">
        <a href="/addevent" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
          <i class="material-icons left">add</i></a>
      </div>