/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
html, body { height: 100%; }

@font-face {
    font-family: genom;
    src: url('genom.woff2') format('woff2');
}

@font-face {
    font-family: proximanova;
    src: url('proximanova.woff2') format('woff2');
}

html,
body {
    height: 100%;
}

body a {
    font-family: "genom", sans-serif !important;
}

body {
    margin: 0;
    font-family: "proximanova", sans-serif;
    background: #F8F8F8;
}