
        <div>
                <table>
                        <thead>
                          <tr>
                              <th>Nom de demandeur</th>
                              <th>Type</th>
                              <th>Zone</th>
                              <th>Moyen de transport</th>
                              <th>Action</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr>
                            <td><a href="#">Demandeur1</a></td>
                            <td>Scientifique</td>
                            <td>Alger</td>
                            <td>Voiture</td>
                            <td><a href="admin/demande/connection"><button class="btn green darken-2" >Accepter</button></a><button class="btn red darken-2">Réfuser</button></td>
                            
                        </tr>
                        </tbody>
                      </table>
        </div>