<div class="navbar-fixed">

<nav class="z-depth-2">
    <div class="nav-wrapper light-green">
      <div class="container">
      <a href="#!" class="brand-logo">Genom</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login">Connecter</a></li>
        <li><a href="singup">Inscrire</a></li>
      </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav z-depth-4" id="mobile-demo">
    <li><a href="login">Connecter</a></li>
    <li><a href="singup">Inscrire</a></li>
  </ul>
  </div>
