<div class="navbar-fixed">

<nav class="z-depth-2">
    <div class="nav-wrapper indigo">
      <div class="container">
      <a href="#!" class="brand-logo">Genom</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Connecter</a></li>
        <li><a href="badges.html">Inscrire</a></li>
      </ul>
      </div>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Connecter</a></li>
    <li><a href="badges.html">Inscrire</a></li>
  </ul>
  </div>
