<div class="row card-panel ">
  <h4>Ajouter un Lien</h4>
  <hr>
  <br><br>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">title</i>
        <input id="lien_titre" type="text" class="validate">
        <label for="lien_titre">Titre</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="lien_date" type="text" class="datepicker">
        <label for="lien_date">Date</label>
      </div>
    </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">link</i>
        <input id="lien_format" type="text" class="validate">
        <label for="lien_format">Lien</label>
      </div>
  </form>

  <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
    <i class="material-icons left ">add_circle</i>
  </button>
</div>