<app-resnav></app-resnav>
<div class="row card-panel ">
    <h4>Modifier une caracteristique</h4>
    <hr>
    <br><br>
    <form class="col s12" >      
      <div class="row">
        <div class="input-field col s8">
          <i class="material-icons prefix">title</i>
          <input id="fiche_titre" [(ngModel)]="caracteristique.name" name="name" type="text" class="validate">
          <label for="fiche_titre">Nom</label>
        </div>
      </div>
      <div class="row">
            <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <textarea id="textarea1" [(ngModel)]="caracteristique.description" name="description" class="materialize-textarea"></textarea>
                     <label for="textarea1">Description</label>
            </div>
      </div>
      
            <button (click)="update()" class="btn waves-effect waves-light right teal darken-2">Modifier
                <i class="material-icons left">add_circle</i>
              </button>
    </form>
    <button (click)="onBack()" class="btn waves-effect waves-light left teal darken-2">Retour
            <i class="material-icons left ">keyboard_backspace</i>
        </button>
  

  </div>
