.material-icons{
  font-size: 6rem;
}
.parallax-container{
  height: 400px;
}
.content{
  margin-top:675px;
}
.ligne{
  width: 6rem;
  height: .4rem;
  border:none;
  border-radius: 10%;
}
.caption{
  text-shadow: 2px 2px 3px black;
}
