<app-resnav></app-resnav>
<div class="panel">
        <h4>Valeur</h4>
      </div>
      <hr>
      <div class="collection">
            <a  *ngFor="let valeur of valeur$ | async" class="collection-item">{{valeur.name}}
                        <a (click)="supprimer(valeur.id)" href="#modal1" class="secondary-content modal-trigger">
                              <i class="material-icons red-text">close</i>
                        </a>
                    
                        <a routerLink="/valeur/{{valeur.id}}" class="secondary-content">
                               <i class="material-icons">mode_edit</i>
                        </a>
            </a>
      </div>
      <button (click)="onBack()" class="btn waves-effect waves-light right teal darken-2">Retour
            <i class="material-icons left ">keyboard_backspace</i>
          </button>
     <div class="fixed-action-btn">
        <a (click)="onClick()" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
        <i class="material-icons left">add</i></a>
    </div>

    <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Supprimer Valeur</h4>
              <p>etes vous sure de supprimer cette valeur ?</p>
            </div>
            <div class="modal-footer">
              <a (click)="confirmer()" class="modal-close waves-effect waves-green btn-flat">Oui</a>
            </div>
          </div>