
<div class="panel">
  <h4>Annonces</h4>
</div>
<hr>

<nav class="teal lighten-5 searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>


<div class="collection">
<div class="card small">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://www.solvay.fr/sites/g/files/srpend241/files/styles/header/https/media.solvay.com/medias/domain1446/media403/61160-8sbe5pbpfw.jpg?itok=DTo0ft1k">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Image associée
    Champ De Maïs<i
        class="material-icons right">more_vert</i></span>
    <p><a href="#">edit</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><strong>Image associée Champ De Maïs</strong>
      <i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.
      <br><br><strong> 20 nov. 2019</strong>
      <a href="#!" class="secondary-content">
        <span><i class="material-icons">delete</i></span></a>
    </p>
    
  </div>
</div>

<div class="card small">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="https://www.aspca.org/sites/default/files/animal-cruelty_factory-farms_facebook.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Farm Animal Welfare
      <i class="material-icons right">more_vert</i></span>
    <p><a href="#">edit</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><strong>Farm Animal Welfare</strong><i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on .
      <br><br><strong> 20 nov. 2019</strong>
      <a href="#!" class="secondary-content">
        <span><i class="material-icons">delete</i></span></a>
    </p>
  </div>
</div>
</div>

    <div class="fixed-action-btn">
      <a href="/addnews" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
        <i class="material-icons left">add</i></a>
    </div>
  