  
<div class="col-md-6 user-container">
    <h2 style="margin: auto"> User Details</h2>
    
    <table  class="highlight">
      <thead>
      <tr>
       
        <th>Prenom</th>
        <th>Nom</th>
        <th>Username</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Role</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
       
        <td>{{user.prenom}}</td>
        <td>{{user.nom}}</td>
        <td>{{user.username}}</td>
        <td>{{user.telephone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles.name}}</td>
        <td>
          <!--button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
              <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button-->
     
                <a (click)="supprimer(user)" href="#modal1" class="secondary-content modal-trigger">
                    <i class="material-icons red-text">delete</i>
                  </a>
              </td> 
              <td><i class="small material-icons">edit</i></td>
              
      </tr>
      </tbody>
    </table>
    
    <!--button class="btn btn-danger" style="width:100px" > Add User</button-->

    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Supprimer categorie</h4>
          <p>etes vous sure de supprimer cette categorie ?</p>
        </div>
        <div class="modal-footer">
          <a href="/list-user" (click)="confirmer()" class="modal-close waves-effect waves-green btn-flat">Oui</a>
        </div>
      </div>
  
  <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light green" (click)="addUser()"><i class="material-icons">add</i></a>

      </div>