<ul id="slide-out" class="sidenav sidenav-fixed hoverable z-depth-1">
  <h4 class="center">Publication</h4>
  <hr>
  <br>
      <li><a class="waves-effect " routerLink="/news">Annonces</a></li>
      <li><a class="waves-effect " routerLink="/infofiche">Fiches d'informations</a></li>
      <li><a class="waves-effect " routerLink="/events">Evenements</a></li>
      <li><a class="waves-effect " routerLink="/videos">Vidéos</a></li>
      <li><a class="waves-effect " routerLink="/links">Gestionnaire de liens</a></li>
      <li><a class="waves-effect " routerLink="/contacts">Contacts</a></li>

    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
