
<div class="panel">
  <h4>Contacts</h4>
</div>
<hr>

<nav class="teal lighten-5 searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
  
<ul class="collection">
 <li class="collection-item avatar">
    <i class="material-icons circle  teal accent-4">person_pin</i>
    <a class="title"><b>Ladjouzi Bachir</b></a>
    <p><strong>Manager</strong><br>
      fb_ladjouzi@esi.dz, +213549362548<br>
      Mouhamed Belouizdad, Alger
    </p>
    <a href="#!" class="waves-effect"><span>edit</span></a>
    <a href="#!" class="secondary-content">
      <span><i class="material-icons">delete</i></span></a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle  teal accent-4">person_pin</i>
    <a  class="title"><b>Afraoucen Chakib</b></a>
    <p><strong>Controleur de Gestion</strong><br>
      fc_afroucen@esi.dz, +213672691202<br>
      kacaba city el Hamiz, Alger19
    </p>
    <a href="#!" class="waves-effect"><span>edit</span></a>
    <a href="#!" class="secondary-content">
      <span><i class="material-icons">delete</i></span></a>
  </li>
<li class="collection-item avatar">
  <i class="material-icons circle  teal accent-4">person_pin</i>
  <a class="title"><b>Djebablia Abderahim</b></a>
  <p><strong>Chercheur</strong><br>
    fa_djabablia@esi.dz, +213779023647<br>
    Soug ahras
  </p>
  <a href="#!" class="waves-effect"><span>edit</span></a> 
  <a href="#" class="secondary-content" >
    <span><i class="material-icons">delete</i></span></a>
</li>
</ul>
      <div class="fixed-action-btn">
<a href="/newcontact" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
  <i class="material-icons left">person_add</i>Nouveau Contact</a>
      </div>
