<div class="row card-panel ">
  <h4>Ajouter un Evenement</h4>
  <hr>
  <br><br>
  <form class="col s12">
    <div class="input-field col s12">
      <i class="material-icons prefix">title</i>
      <input id="event_titre" type="text" class="validate">
      <label for="event_titre">Titre</label>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="event_date_debut" type="text" class="datepicker">
        <label for="event_date_debut">Date du debut d'Evenement</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="event_date_fin" type="text" class="datepicker">
        <label for="event_date_fin">Date de fin</label>
      </div>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">mode_edit</i>
      <textarea id="event_description" class="materialize-textarea" data-length="1000"></textarea>
      <label for="event_description">Description</label>
    </div>

  </form>
  <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
    <i class="material-icons left ">add_circle</i>
  </button>
</div>