  
<div class="row card-panel ">
        <h4>Ajouter un Contact</h4>
        <hr>
        <br><br>
        <form class="col s12" [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input formControlName="name" id="contact_nom" type="text" class="validate">
              <label for="contact_nom">Nom complet</label>
            </div>
          
          </div>
      
            <div class="form-group input-field">
              <i class="material-icons prefix">group</i>
              <input  formControlName ="titre" id="contact_role" type="text" class="validate">
              <label for="contact_role">Role</label>
            </div>
      
          <div class="form-group row">
            <div class="input-field col s6  ">
              <i class="material-icons prefix">email</i>
              <input   formControlName="email" id="contact_email" type="email" class="validate">
              <label for="contact_email">Email</label>
            </div>
            <div class="form-group  input-field col s6">
              <i class="material-icons prefix ">phone</i>
              <input formControlName="telephone" id="contact_telephone" type="tel" class="validate">
              <label for="contact_telephone">Telephone</label>
            </div>
          </div>
      
            <div class="form-group input-field">
              <i class="material-icons prefix">place</i>
              <input formControlName="adresse" id="contact_adresse" type="text" class="validate">
              <label for="contact_adresse">Adresse</label>
            </div>
            <br>
            <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
                    <i class="material-icons left ">person_add</i>
                  </button>
        </form>
       
      </div>