
<form action="">

        <div class="row">
                <div class="input-field col s6">
                  <input id="first_name2" type="text" class="validate">
                  <label class="active" for="first_name2">Nom</label>
                </div>
              </div>
  <div class="row">
        <div class="input-field col s6">
          <input id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">Prénom</label>
        </div>
      </div>
</form>