
<div class="panel">
  <h4>Fiches d'informations</h4>
</div>
<hr>

<nav class="teal lighten-5 searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>

<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle teal accent-4">picture_as_pdf</i>
    <a href="#" class="title"><b>Document1</b></a>
    <p><strong> 07 aout. 2019</strong></p>
    <br>
    <a href="#!" class="waves-effect">
      <span>Supprimer</span></a>
    <a href="#!" class="secondary-content">
      <span><i class="material-icons">file_download</i></span><br>PDF</a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle teal accent-4">attachment</i>
    <a href="#" class="title"><b>Document2</b></a>
    <p><strong> 21 nov. 2019</strong>
    </p>
    <br>  
    <a href="#!" class="waves-effect">
      <span>Supprimer</span></a>
    <a href="#!" class="secondary-content">
      <span><i class="material-icons">file_download</i></span><br>DOCX</a>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle teal accent-4">picture_as_pdf</i>
    <a href="#" class="title"><b>Document3</b></a>
    <p><strong> 28 dec. 2019</strong>
     </p>
     <br>
    <a href="#!" class="waves-effect">
      <span>Supprimer</span></a>
    <a href="#!" class="secondary-content">
      <span><i class="material-icons">file_download</i></span><br>PDF</a>
  </li>
</ul>

<div class="fixed-action-btn">
  <a href="/addfiche" class="btn-floating btn-large waves-effect waves-lightteal darken-2 right">
    <i class="material-icons left">publish</i></a>
</div>

  