<div class="row card-panel ">
  <h4>Ajouter une Fiche d'Information</h4>
  <hr>
  <br><br>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">title</i>
        <input id="fiche_titre" type="text" class="validate">
        <label for="fiche_titre">Titre</label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">date_range</i>
        <input id="fiche_date" type="text" class="datepicker">
        <label for="fiche_date">Date</label>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field  col s9">
        <a class="waves-effect waves-light btn teal darken-4">
          <i class="material-icons left">file_upload</i>Importer
          <input type="file" multiple></a>
        <div class="file-path-wrapper">
          <input placeholder="File" id="fiche_file" class="file-path validate" type="text">
        </div>
      </div>
    
      <div class="input-field col s3">
        <i class="material-icons prefix">attachment</i>
        <input id="fiche_format" type="text" class="validate">
        <label for="fiche_format">Format</label>
      </div>
    </div>
  </form>

  <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
    <i class="material-icons left ">add_circle</i>
  </button>
</div>