<div class="panel">
  <h4>Documents</h4>
  <a class="waves-effect waves-light btn modal-trigger right light-green" href="#modal1">Importer</a>
  <div id="modal1" class="modal">
      <form (ngSubmit)="onSubmit()" #documentForm="ngForm" action="">
    <div class="modal-content">
      <h4 style="margin-bottom:2rem;">Importer un document</h4>
      <div class="row">
          <div class="input-field col s6">
            <input id="first_name2" type="text" [(ngModel)]="document.type_document" name="type" class="validate">
            <label class="active" for="first_name2">Type du document</label>
          </div>
        </div>
      <div class="file-field input-field">
          <div class="btn light-green">
            <span>Importer</span>
            <input type="file" name="file" [(ngModel)]="currentInput"
            (change)="onFileSelected($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-close waves-effect waves-green btn-flat">Submit</button>
    </div>
  </form>
  </div>
    </div>
    <hr>
 <nav class="light-green searchbar">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>


<ul class="collection">

  <li *ngFor="let doc of documents" class="collection-item avatar">
    <i class="material-icons circle">picture_as_pdf</i>
    <a href="#" class="title">{{doc.nom_document}}</a>
    <p><strong>Relation avec:</strong><br>
       Document2, Document3
    </p>
    <span  class="secondary-content">PDF</span>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle green">attachment</i>
    <a href="#" class="title">Document2</a>
    <p><strong>Relation avec:</strong><br>
       Document1, Document3
    </p>
    <span  class="secondary-content">DOCX</span>
  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle red">picture_as_pdf</i>
    <a href="#" class="title">Document3</a>
    <p><strong>Relation avec:</strong><br>
       Document1, Document2
    </p>
    <span  class="secondary-content">PDF</span>
  </li>
</ul>
