
<div class="row card-panel ">
    <h4>Ajouter un Evenement</h4>
    <hr>
    <br><br>
    <form class="col s12" [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="input-field col s12">
          <i class="material-icons prefix">event</i>
          <input formControlName="titre" id="titre" type="text" class="validate">
          <label for="contact_nom">Titre</label>
        </div>
      
      </div>
  
      

      
      <div class="form-group row">
           
                    <div class=" input-field col s12">
                          <i class="material-icons prefix">date_range</i>
                            <input formControlName ="start_evnt"  id="start_evnt" type="date" class="form-group">    
                          <label for="contact_role">Date debut</label>
                        
                    </div>
           
      </div>

      <div class="form-group row">
            <div class="input-field col s12">
                    
                            <i class="material-icons prefix">date_range</i>
                              <input formControlName ="end_evnt" type="date" id="end_evnt" class="form-group">    
                            <label for="contact_role">Date fin</label>
                          </div>
              
      </div>
      

  
       
        <br>
        <button class="btn waves-effect waves-light right teal darken-2" type="submit" name="action">Ajouter
                <i class="material-icons left ">person_add</i>
              </button>
    </form>
   
  </div>