
/* label color */
   /* label focus color */
   .input-field input[type=text]:focus + label , .input-field textarea:focus + label, select {
     color: #8bc34a !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field textarea:focus, input[type=radio] {
     border-bottom: 1px solid #8bc34a !important;
     box-shadow: 0 1px 0 0 #8bc34a !important;
   }
.none{
  display: none;
}
