<h3>Demande d'un permis d'usage</h3>
<hr>
<br><br>
<div class="row">
  <div class="input-field col s12 l6 m6 ">
    <select>
      <option value="" disabled selected>Choisir votre option</option>
      <option value="1">Ressource 1</option>
      <option value="2">Ressource 2</option>
      <option value="3">Ressource 3</option>
    </select>
    <label>Choisir votre ressource :</label>
  </div>
  <div class="input-field col s12 m6 l6">
          <textarea id="textarea5" class="materialize-textarea"></textarea>
          <label for="textarea5">Pourquoi vous voulez cette ressource?</label>
  </div>
  <form action="#"  class="col s12 m12 l12">
    <label for="">Votre usage est à but :</label>
    <p>
      <label>
        <input name="group1" type="radio" checked (click)="commercial()" />
        <span>Commercial</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" (click)="scientifique()" />
        <span>Scientifique</span>
      </label>
    </p>

  </form>
  <div class="row scale-transition" id="scientifique">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <textarea id="textarea2" class="materialize-textarea"></textarea>
          <label for="textarea2">Quel est le but de la recherche?</label>
        </div>
      </div>
    <div class="file-field input-field col s12">
      <div class="btn waves-effect indigo">
        <span>Importer</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Joindre un compte rendu de la recherche ">
      </div>
    </div>

    </form>
  </div>
  <div class="row none scale-transition" id="commercial">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <textarea id="textarea4" class="materialize-textarea"></textarea>
          <label for="textarea4">Quelle sont vos suites commerciales?</label>
        </div>

      <div class="input-field col s6">
        <textarea id="textarea3" class="materialize-textarea"></textarea>
        <label for="textarea3">Donner une proposition pour protéger cette ressource</label>
      </div>
      </div>

    <div class="file-field input-field col s12">
      <div class="btn waves-effect indigo">
        <span>Importer</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Joindre une étude sur les conséquences d'utilisation de cette ressource">
      </div>
    </div>
    </form>
  </div>
</div>
