
/* label color */
   /* label focus color */
   .input-field input[type=text]:focus + label , .input-field textarea:focus + label, select {
     color: #3f51b5 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field textarea:focus, input[type=radio] {
     border-bottom: 1px solid #3f51b5 !important;
     box-shadow: 0 1px 0 0 #3f51b5 !important;
   }
.none{
  display: none;
}
label input:checked ~ .checkmark {
  background-color: #2196F3;
}
