<h4>Demande d'un permis d'usage</h4>
<span class="badge white-text light-green">Brouillon</span>
<hr>
<form action="#">
    <label for="">Accord</label>
  <div class="file-field input-field">
    <div class="btn light-green">
      <span>Importer</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choisir la ressource que tu veut utiliser</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Selectionner le type</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choisir le moyen de transport adapté</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choisir votre option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <button class="btn light-green" type="submit">Soumettre</button>
</form>
